{% include head.html %}

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    
    <header class="row">
          <a href="{{ site.baseurl }}">{{ site.name }}</a>
        <p>
          {{ site.description }}
        </p>
    </header>
    
    <nav class="row">
      <a href="http://fb.com">Kreu</a>  
      <a href="http://fb.com">Artikuj</a> 
      <a href="http://fb.com">Kontakt</a> 
      <a href="http://fb.com">Info</a>
    </nav>
    
    <div class="row">
    
      {{ content }}
      
    </div>
    
    <footer class="row">
      <p>Copyright kot pa lidhje</p>
    </footer>
    
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
